<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824137625510-4djhhvo85gt1j6e1iebg2skrj3moii41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824137625510-4djhhvo85gt1j6e1iebg2skrj3moii41</string>
	<key>API_KEY</key>
	<string>AIzaSyAn_Fb53VgZMzo-PW7qAgy97IeXvhMLeuc</string>
	<key>GCM_SENDER_ID</key>
	<string>824137625510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tmf.iMessage</string>
	<key>PROJECT_ID</key>
	<string>imessage-d038e</string>
	<key>STORAGE_BUCKET</key>
	<string>imessage-d038e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824137625510:ios:135de5c609a65c44ffa967</string>
</dict>
</plist>